html{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box
}

h1,h2,h3,h4,h5,h6,p  {margin-bottom:10px}


html,body{
	width:100%;
	overflow-x:hidden
}
body{
	font-family:"Poppins",sans-serif;
	font-size:18px;
	line-height:1.5;
	font-weight:300;
	color:#111;
	background-color:#fff;
	-webkit-font-smoothing:antialiased;
	-webkit-text-size-adjust:100%
}
/*@media screen and (max-width: 768px){
	body{
		font-size:14.4px
	}
}*/

/* Bootstrap CSS */

.btn:hover {color: white !important;}

.display-4 {
	font-size: 2.5rem;
}
@media screen and (max-width: 768px) {
	.display-4 {font-size: 2.0rem !important;}
}


/* Previous/Before Bootstrap CfB code*/


*,*:before,*:after{
	-webkit-box-sizing:inherit;
	-moz-box-sizing:inherit;
	box-sizing:inherit
}



.t-serif{
	font-family:"Poppins",sans-serif
}
.t-serif-italic{
	font-family:"Poppins",sans-serif;
	font-style:italic
}
.t-sans{
	font-family:"Poppins",sans-serif;
	font-weight:400
}
.t-sans-bold{
	font-family:"Poppins",sans-serif;
	font-weight:700
}
.t-h5,h5{
	font-size:18px
}
.t-h4,h4{
	font-size:18px
}
.t-h3,.t-lead,h3{
	font-size:23.4px
}
.t-h2,h2{
	font-size:30.42px;
	position:relative
}
.t-h1,h1{
	font-size:51.4098px
}
@media screen and (max-width: 768px){
	.t-h5,h5{
		font-size:18px
}
	.t-h4,h4{
		font-size:18px
}
	.t-h3,.t-lead,h3{
		font-size:21.6px
}
	.t-h2,h2{
		font-size:25.92px
}
	.t-h1,h1{
		font-size:37.3248px
}
}

img{
	max-width:100%;
	vertical-align:middle
}
hr{
	border-top:1px solid #e6e6e6;
	border-bottom:none
}
address{
	font-size:0.9rem
}
figure>img{
	display:block
}
figcaption{
	font-size:13.8461538462px
}
li{
	margin-bottom:0.5em
}
li>ul,li>ol{
	margin-bottom:0
}
h1,h2,h3,h4,h5,h6{
	font-family:"Poppins",sans-serif;
	line-height:1.2
}
blockquote{
	color:#6d6e71;
	padding-left:15px;
	font-size:1.3em;
	font-style:italic;
	padding:2em 0;
	font-family:"Poppins",sans-serif
}
blockquote:before{
	content:"\"";
	font-size:5em;
	vertical-align:bottom;
	line-height:0;
	padding-right:0.25em;
	opacity:0.2
}
pre,code{
	font-size:15px;
	border:1px solid #b7b7b7;
	border-radius:3px;
	background-color:#eef
}
code{
	padding:1px 5px
}
pre{
	padding:8px 12px;
	overflow-x:scroll
}
pre>code{
	border:0;
	padding-right:0;
	padding-left:0
}
.wrapper:after{
	content:"";
	display:table;
	clear:both
}
.svg-icon{
	height:5rem
}
html{
	background:#71499d
}
body{
	background:#fff
}
.wrapper{
	max-width:-webkit-calc(1200px - (30px * 2));
	max-width:calc(1200px - (30px * 2));
	margin-right:auto;
	margin-left:auto;
	padding-right:30px;
	padding-left:30px
}
@media screen and (max-width: 800px){
	.wrapper{
		max-width:-webkit-calc(1200px - (30px));
		max-width:calc(1200px - (30px));
		padding-right:15px;
		padding-left:15px
}
}
a{
	color:inherit;
	color:#1e6488;
	font-weight:700;
	transition:all 250ms ease-in-out
}
a:hover {color: #cf1f42 !important;}

.site-title{
	font-size:26px;
	line-height:56px;
	letter-spacing:-1px;
	margin-bottom:0;
	float:left
}
.site-title,.site-title:visited{
	color:#47484a
}
.site-footer{
	padding:30px 0;
	background:#b7b7b7;
	position:relative;
	margin-top:6rem;
	padding-top:3rem;
	color:#111;
	z-index:0
}
.contact-list,.social-media-list{
	list-style:none;
	margin-left:0
}
.page-content{
	min-height:30rem
}
.page-content section{
	margin-bottom:4rem
}
.page-heading{
	font-size:20px
}
.post-list{
	margin-left:0;
	list-style:none
}
.post-list>li{
	margin-bottom:30px
}
.post-meta{
	font-size:13.8461538462px;
	color:#6d6e71
}
.post-link{
	display:block;
	font-size:24px
}
.post-header{
	margin-bottom:30px
}
.post-title{
	font-size:42px;
	letter-spacing:-1px;
	line-height:1
}
@media screen and (max-width: 800px){
	.post-title{
		font-size:36px
}
}
.post-content{
	margin-bottom:30px
}
.post-content h2{
	font-size:32px
}
@media screen and (max-width: 800px){
	.post-content h2{
		font-size:28px
}
}
.post-content h3{
	font-size:26px
}
@media screen and (max-width: 800px){
	.post-content h3{
		font-size:22px
}
}
.post-content h4{
	font-size:20px
}
@media screen and (max-width: 800px){
	.post-content h4{
		font-size:18px
}
}
.btn-default,a.btn-default,.btn-primary,a.btn-primary,.btn-secondary,a.btn-secondary{
	font-size:1.2rem;
	padding:0.75em 1.5em;
	border:none;
	box-shadow:0px 2px 2px 0px rgba(0,0,0,0.2);
	border-bottom:4px solid rgba(0,0,0,0.2);
	border-radius:2px;
	cursor:pointer;
	transition:all 250ms ease-in-out;
	text-decoration:none;
	margin-top:0;
	margin-bottom:1rem;
	display:inline-block
}
.btn-default,a.btn-default{
	background:#47484a;
	color:#fff
}
.btn-default:hover,.btn-default:focus,a.btn-default:hover,a.btn-default:focus{
	background:#292a2b;
	color:#fff
}
.btn-primary,a.btn-primary{
	background:#71499d;
	color:#fff !important
}
.btn-primary:hover,.btn-primary:focus,a.btn-primary:hover,a.btn-primary:focus{
	background:#58397a
}
.btn-secondary, a.btn-secondary{
	background:#399fd3;
	color:#fff !important;
}
.btn-secondary:hover,.btn-secondary:focus,a.btn-secondary:hover,a.btn-secondary:focus{
	background:#267da9;
	color:#fff
}
.btn--small,a.btn--small{
	font-size:0.9em;
	line-height:1.2;
	padding:0.5em 1em;
	border-bottom-width:2px
}
.btn--large,a.btn--large{
	font-size:1.3em;
	padding:0.75em 2.5em;
	border-bottom-width:6px
}
.walkthrough-list{
	list-style:none;
	margin:2rem 0
}
.walkthrough-list li{
	counter-increment:step-counter;
	margin-left:6rem;
	margin-bottom:6rem;
	position:relative
}
.walkthrough-list li:before{
	content:counter(step-counter);
	color:#cf1f42;
	font-weight:700;
	font-size:6rem;
	display:block;
	border-radius:50%;
	position:absolute;
	left:-5rem;
	top:0
}
@media screen and (max-width: 600px){
	.walkthrough-list li{
		margin-left:0
}
	.walkthrough-list li:before{
		position:static
}
}
.loading #loaderIcon{
	display:block
}
#loaderIcon{
	display:none;
	height:3em
}
.site-header{
	border-top:5px solid #71499d;
	border-bottom:1px solid #b7b7b7;
	min-height:56px;
	padding:1rem;
	position:relative
}
.site-header .logo{
	float:left;
	text-decoration:none;
	border:none
}
.site-header .logo img{
	height:3rem
}
.site-nav{
	float:right;
	line-height:56px
}
.site-nav .menu-icon{
	display:none
}
.site-nav [class*="btn-"]{
	margin:0
}
.site-nav .page-link{
	text-decoration:none;
	margin:0 0.5rem
}
@media screen and (max-width: 768px){
	.site-nav{
		position:absolute;
		top:1rem;
		right:2rem;
		background-color:#fff;
		border:1px solid #b7b7b7;
		border-radius:4px;
		text-align:right;
		z-index:1
}
	.site-nav .menu-icon{
		display:block;
		float:right;
		width:4rem;
		height:3rem;
		line-height:0;
		text-align:center
}
	.site-nav .menu-icon>svg{
		width:50%;
		margin-top:15%
}
	.site-nav .menu-icon>svg path{
		fill:#6d6e71
}
	.site-nav .trigger{
		clear:both;
		display:none
}
	.site-nav:hover{
		left:2rem
}
	.site-nav:hover .trigger{
		display:block;
		padding-bottom:5px;
		text-align:center;
		padding:1rem
}
	.site-nav .page-link{
		display:block;
		padding:0.5em 0;
		font-size:1.5em
}
	.site-nav .page-link:not(:last-child){
		margin-right:0
}
}

label[for]{
	cursor:pointer
}
input{
	font-size:0.8rem;
	padding:0.5rem;
	display:block
}
input:not([type="checkbox"]),input:not([type="radio"]){
	display:inline-block
}
.page-links ul{
	margin:0;
	list-style:none
}
.site-header .page-links ul li{
	display:inline-block
}
@media screen and (max-width: 768px){
	.site-header .page-links ul li{
		display:block
}
}
.card{
	margin-bottom:1rem
}
.card--map{
	margin:0 auto;
	width:80%;
	max-width:50rem;
	overflow:auto;
	text-align:left
}
@media screen and (max-width: 767px){
	.card--map{
		width:95%
}
}
.card--map .card-content{
	float:left;
	padding:1.5rem;
	width:calc(100% - 15rem)
}
@media screen and (max-width: 767px){
	.card--map .card-content{
		width:100%
}
}
.card--map .card-img{
	float:right;
	width:15rem
}
@media screen and (max-width: 767px){
	.card--map .card-img{
		display:none
}
}
.card--no-map{
	margin:0 auto;
	width:80%;
	max-width:50rem;
	overflow:auto;
	text-align:center
}
@media screen and (max-width: 767px){
	.card--no-map{
		width:95%
}
}
.card--no-map .card-content{
	float:left;
	padding:1.5rem;
	width:100%
}
@media screen and (max-width: 767px){
	.card--no-map .card-content{
		width:100%
}
}
.hero{
	padding:2rem 0
}
.hero h1{
	font-size:6rem;
	line-height:1;
	font-weight:700
}
.hero .subheadline-above{
	font-size:1.5rem;
	margin:0
}
.hero a.cta{
	margin:2rem 0;
	padding:1.5rem 2.5rem;
	border-radius:4px;
	background:#71499d;
	color:#fff;
	text-decoration:none;
	box-shadow:0 2px 4px rgba(0,0,0,0.5)
}
.hero a.cta:hover{
	background:#58397a
}
.call-out{
	position:relative;
	background:white;
	z-index:0
}
.call-out::after{
	content:'';
	position:absolute;
	top:-10px;
	left:-10px;
	border-color:transparent;
	border-style:solid;
	border-width:20px;
	border-left-color:#399fd3;
	border-top-color:#399fd3;
	z-index:-1
}
.call-out::before{
	content:'';
	position:absolute;
	bottom:-10px;
	right:-10px;
	border-color:transparent;
	border-style:solid;
	border-width:20px;
	border-right-color:#399fd3;
	border-bottom-color:#399fd3;
	z-index:-1
}
.call-out-inner{
	background:#71499d;
	padding:10px;
	color:white
}
.call-out-red{
	background:#cf1f42;
	padding:10px;
	color:white
}
.panel{
	padding-top:5rem;
	padding-bottom:5rem
}
.page-title{
	text-align:center;
	margin:2rem 0
}
.notice{
	padding:1.4rem;
	margin:2rem 0
}
.notice.inline{
	display:inline-block
}
.notice.notice-positive{
	border:1px solid #399fd3;
	border-left:1em solid #399fd3
}
.three-up article p{
	min-height:10rem
}
.t-section-headline{
	padding:60px 0;
	text-align:center
}
@media screen and (max-width: 768px){
	.t-section-headline{
		padding:30px 0
	}
}

.highlight{
	background:#fff
}
.highlight .c{
	color:#998;
	font-style:italic
}
.highlight .err{
	color:#a61717;
	background-color:#e3d2d2
}
.highlight .k{
	font-weight:bold
}
.highlight .o{
	font-weight:bold
}
.highlight .cm{
	color:#998;
	font-style:italic
}
.highlight .cp{
	color:#999;
	font-weight:bold
}
.highlight .c1{
	color:#998;
	font-style:italic
}
.highlight .cs{
	color:#999;
	font-weight:bold;
	font-style:italic
}
.highlight .gd{
	color:#000;
	background-color:#fdd
}
.highlight .gd .x{
	color:#000;
	background-color:#faa
}
.highlight .ge{
	font-style:italic
}
.highlight .gr{
	color:#a00
}
.highlight .gh{
	color:#999
}
.highlight .gi{
	color:#000;
	background-color:#dfd
}
.highlight .gi .x{
	color:#000;
	background-color:#afa
}
.highlight .go{
	color:#888
}
.highlight .gp{
	color:#555
}
.highlight .gs{
	font-weight:bold
}
.highlight .gu{
	color:#aaa
}
.highlight .gt{
	color:#a00
}
.highlight .kc{
	font-weight:bold
}
.highlight .kd{
	font-weight:bold
}
.highlight .kp{
	font-weight:bold
}
.highlight .kr{
	font-weight:bold
}
.highlight .kt{
	color:#458;
	font-weight:bold
}
.highlight .m{
	color:#099
}
.highlight .s{
	color:#d14
}
.highlight .na{
	color:teal
}
.highlight .nb{
	color:#0086B3
}
.highlight .nc{
	color:#458;
	font-weight:bold
}
.highlight .no{
	color:teal
}
.highlight .ni{
	color:purple
}
.highlight .ne{
	color:#900;
	font-weight:bold
}
.highlight .nf{
	color:#900;
	font-weight:bold
}
.highlight .nn{
	color:#555
}
.highlight .nt{
	color:navy
}
.highlight .nv{
	color:teal
}
.highlight .ow{
	font-weight:bold
}
.highlight .w{
	color:#bbb
}
.highlight .mf{
	color:#099
}
.highlight .mh{
	color:#099
}
.highlight .mi{
	color:#099
}
.highlight .mo{
	color:#099
}
.highlight .sb{
	color:#d14
}
.highlight .sc{
	color:#d14
}
.highlight .sd{
	color:#d14
}
.highlight .s2{
	color:#d14
}
.highlight .se{
	color:#d14
}
.highlight .sh{
	color:#d14
}
.highlight .si{
	color:#d14
}
.highlight .sx{
	color:#d14
}
.highlight .sr{
	color:#009926
}
.highlight .s1{
	color:#d14
}
.highlight .ss{
	color:#990073
}
.highlight .bp{
	color:#999
}
.highlight .vc{
	color:teal
}
.highlight .vg{
	color:teal
}
.highlight .vi{
	color:teal
}
.highlight .il{
	color:#099
}


/*********
 * The following styles are not needed and are commented out for now
 *
 *********

 *********
 * Carousel styles seem to be unused, we should delete once we're sure it's safe to do so.
 *********

	#caroNavIndicators a:hover {color: white !important; }


	#caroNavIndicators .carousel-inner a:hover { color: black !important; }

	.carousel {z-index: 99;}
	.carousel-inner {
		height: 100%;
		background: linear-gradient(90deg, rgba(9,67,121,0.5144432773109244) 100%, rgba(4,0,36,0.5844712885154062) 100%, rgba(0,212,255,1) 100%);
	}
	.carousel-item {height: 40vw; position: relative;}
	.carousel-item img {
		-webkit-filter: brightness(0.75);
		filter: brightness(0.75);
	}
	.carousel-item .content {
		position: absolute;
		bottom: 0;
		color: #f1f1f1;
		width: 100%;
		padding: 5rem;
		text-shadow: 2px 2px 12px #000000;
	}

	.carousel-item .content h3 {text-shadow: 2px 2px 12px #000000;}

	@media screen and (max-width: 768px) {
		.carousel-item .content {
			padding: 3rem;
		}
		.carousel-item .display-4 {
			font-size: 1.5rem !important;
		}
		.carousel-item {height: 100% !important;}
		.carousel-inner .btn {padding: .275rem .75rem;}
	}

*********
* For tabs on future Projects page - is this needed?
* I had to remove comments, see cfb.css as a reference for what these styles do
*********

	#tab {
		overflow: hidden;
		text-align: center;
	}

	#tab button {
		background-color: #1e6488;
		color: white;
		border-bottom: none;
		font-size: 18px;
		padding: 10px;
		width: 30%;
		border-radius: 5px;
	}

	@media (max-width:767px) {
		#tab .mx-2 {margin-left: .15rem!important; margin-right: .15rem!important;}
	}

	#tab button:hover {
		background-color: #1e6488;
		color: white;
	}

	#tab button.active {
		background-color: #399fd3;
		color: white;
	}

	.tabcontent {
		display: none;
		padding: 6px 12px;
		outline: none;
	}
*/